<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">
            Ir a login
        </a>
    </li>

    <li>
        <a routerLink="/auth/registro">
            Ir a Registro
        </a>
    </li>
    <li>
        <a routerLink="/auth/registro">
            Ir a Registro
        </a>
    </li>
    <li>
        <a routerLink="/heroe">
            Ir a Heroe
        </a>
    </li>
    <li>
        <a routerLink="/heroe/listado">
            Ir a Heroe listado
        </a>
    </li>
    <li>
        <a routerLink="/heroe/agregar">
            Ir a Heroe agregar
        </a>
    </li>
    <li>
        <a routerLink="/heroe/editar">
            Ir a Heroe editar
        </a>
    </li>
    <li>
        <a routerLink="/heroe/buscar">
            Ir a Heroe buscar
        </a>
    </li>
    
</ul>
